<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <main>
      <div class="jumbotron">
    <a href="/">Home</a>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <body>
    
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
      
</head>

  <H1>Welcome to our About Us Page</H1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam provident illo fugit architecto quae, illum itaque aliquid recusandae cumque amet alias quos molestias! Eum, dolore repudiandae! Eligendi, ducimus! Quam, fugit.</p>  
p>


<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</div>
</main>
</html>